body {
    margin: 0;
    margin-right: 35%;
    font-family: myfont, sans-serif;
    background: linear-gradient(to left,  #111 50%, #641313);
    color: white;
}

/* Секции */
section {
    padding: 10px;
}

h1{
    color: rgb(247, 244, 244);
    font-size: 4vh;
    background-color: rgb(230, 29, 29);
    position:relative;
    font-family: myfont;
    text-align:center;
}

    p{
    color: rgb(255, 254, 254);
    font-size: 2vh;
    position: relative;
    font-family: myfont;
    text-align:left;
    margin: 20px;

}

@font-face {
     font-family: myfont;
     src: url(./fonts2/Bungee-Regular.ttf);
}