body {
    margin: 0;
    margin-right: 35%;
    font-family: myfont, sans-serif;
    background: linear-gradient(to left,  #111 50%, #641313);
    color: white;
}

/* Секции */
section {
    padding: 10px;
}

h1{
    color: rgb(247, 244, 244);
    font-size: 4vh;
    background-color: rgb(230, 29, 29);
    position:relative;
    font-family: myfont;
    text-align:center;
}

h2{
    color: #f5c542;
    font-size: 3vh;
    position: relative;
    left: 20px;
    font-family: myfont;
    text-align: left;
    margin-bottom: 15px;

}
    p{
    color: rgb(255, 254, 254);
    font-size: 2vh;
    position: relative;
    font-family: myfont;
    text-align:left;
    margin: 20px;

}

@font-face {
     font-family: myfont;
     src: url(./fonts2/Bungee-Regular.ttf);
}

:not(:defined) > * {
  display: none;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

model-viewer {
  width: 100%;
  height: 90%;
  background-color: transparent;
  z-index: 1;
  overflow: hidden;
}


.progress-bar {
  display: block;
  width: 33%;
  height: 10%;
  max-height: 2%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  border-radius: 25px;
  box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.5), 0px 0px 5px 1px rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.9);
  background-color: rgba(0, 0, 0, 0.5);
}

.progress-bar.hide {
  visibility: hidden;
  transition: visibility 0.3s;
}

.update-bar {
  background-color: rgba(255, 255, 255, 0.9);
  width: 0%;
  height: 100%;
  border-radius: 25px;
  float: left;
  transition: width 0.3s;
}

#ar-button {
  background-image: url(ar_icon.png);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 12px 50%;
  background-color: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  bottom: 16px;
  padding: 0px 16px 0px 40px;
  font-family: Roboto Regular, Helvetica Neue, sans-serif;
  font-size: 14px;
  color:#4285f4;
  height: 36px;
  line-height: 36px;
  border-radius: 18px;
  border: 1px solid #DADCE0;
}

#ar-button:active {
  background-color: #E8EAED;
}

#ar-button:focus {
  outline: none;
}

#ar-button:focus-visible {
  outline: 1px solid #4285f4;
}

@keyframes circle {
  from { transform: translateX(-50%) rotate(0deg) translateX(50px) rotate(0deg); }
  to   { transform: translateX(-50%) rotate(360deg) translateX(50px) rotate(-360deg); }
}

@keyframes elongate {
  from { transform: translateX(100px); }
  to   { transform: translateX(-100px); }
}

model-viewer > #ar-prompt {
  position: relative;
  left: 50%;
  bottom: 60px;
  animation: elongate 2s infinite ease-in-out alternate;
  display: none;
}

model-viewer[ar-status="session-started"] > #ar-prompt {
  display: block;
}

model-viewer > #ar-prompt > img {
  animation: circle 4s linear infinite;
}

.scene-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.blured-bg {
  position: absolute;
  inset:0;
  background-image: url(tropical.jpg);
  background-size: cover;
  background-position: center;
  height: 100%;
  filter: blur(12px);
  z-index: 0;
}

