p{
    color: rgb(195, 41, 41);
    font-size: 10vh;
    background-color: aqua;

}

#hahn{

    width: 100vw;
    opacity: 50%;
    border: 7px solid black;
}

#container{
    display:flex;
    justify-content: right;
}