p{
    color: rgb(195, 41, 41);
    font-size: 10vh;
    background-color: aqua;
    position: relative;
    font-family: myfont;

}

#hahn{
    position: relative;
    width: 100vw;
    opacity: 50%;
    border: 7px solid black;
}

#container{
    display:flex;
    justify-content: right;
}

@font-face {
    font-family: myfont;
    src: url(./fonts/Bungee-Regular.ttf);
}

