
body {
    margin: 0;
    margin-right: 35%;
    font-family: myfont, sans-serif;
    background: linear-gradient(to left,  #111 50%, #641313);
    color: white;
}

/* lera справа */
.valery-image {
    position: fixed;
    top: 0;
    right: 0;
    width: 35%;
    height: 100vh;
    background-image: url("./images allgemein/Valery2.png"); 
    background-size: cover;
    background-position: center;
}

/* Шапка */
header {
    text-align: center;
    padding: 50px;
}

/* Секции */
section {
    padding: 10px;
}

/* Подзаголовки */
h2 {
    margin-bottom: 15px;
}

/* Лейблы */
.label {
    font-weight: bold;
}

/* Расписание */
.schedule {
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    margin: 20px;
}

.times span {
    font-weight: bold;
}

/* Список соревнований */
ul {
    list-style:none;
    padding: 0;
    font-family: myfont;
}

li {
    margin: 10px 0;
}

li a {
    text-decoration: none;
    color: rgb(255, 253, 253);
    transition: 0.3s;
}

li a:hover {
    color: #f5c542;
}

/* Кнопка */
footer {
    text-align: center;
    padding: 40px;
}

h2{
    color: #f5c542;
    font-size: 4vh;
    position: relative;
    font-family: myfont;
    text-align: left;
}


h1{
    color: rgb(247, 244, 244);
    font-size: 4vh;
    background-color: rgb(230, 29, 29);
    position:relative;
    font-family: myfont;
    text-align:center;
}

p{
    color: rgb(255, 254, 254);
    font-size: 2vh;
    position: relative;
    font-family: myfont;
    text-align:left;

}

.schedule {
    display:flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.label {
    font-weight: bold;
}
.times span {
    font-weight: bold;
    color: #eeb947;
}

ul {
    list-style: none;
    padding: 0;
    color: rgb(54, 49, 49);
}


@font-face {
    font-family: myfont;
    src: url(./fonts/Bungee-Regular.ttf);
}


.final-banner {
    width: 100%;
    height: 300px;

    background-image: url("./images allgemein/Auflage.png");
    background-size: cover;
    background-position: center;

    
    position: relative;
    overflow: hidden;
}

.final-banner::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.2);
}

.final-button {
    position:absolute;
    background-color: #eec747;
    top: 5%;
    left: 1%;
    height: 15%;
    cursor: pointer;
    transition: 0.3s;
    border-color: none;
    border-radius: 6%;
    font-family: myfont;
}

.final-button:hover {
    transform: scale(1.1);
}







/*#container{
    position: fixed
    display:flex;
    justify-content: right;
    z-index: 100 ;
}

@media (orientation: portrait) {




<section class="bottom-banner">
        <div class="photo-content">
            <h1>Click to see the next competition</h1>
            <a href="https://www.bogen-sbs.de/goldfleckerlturnier/" target="_blank">
                <button>Download Schedule</button>