
body{
    overflow: hidden;
    margin: 0;
    margin-right: 35%;
    font-family: myfont, sans-serif;
    background: linear-gradient(to left,  #111 50%, #641313);
    color: white;
    
}

#frame_container{

    flex: 0 0 calc(50% - 20px);
     border: 4px solid #eeb947;
     transition: 0.3s;
     display: flex;
     justify-content: center;
     align-items: center;


    width:100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    overflow: hidden;


}

#frame{

    height:100vh;

}

