body {
    margin: 0;
    margin-right: 35%;
    font-family: myfont, sans-serif;
    background: linear-gradient(to left,  #111 50%, #641313);
    color: white;
}

@font-face {
    font-family: myfont;
    src: url(./fonts/Bungee-Regular.ttf);
}
}

